<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
    <div fxFlex="20%">
        <app-product-card name="Product 1" image="car.png"></app-product-card>
    </div>
    <div fxFlex="20%">
        <app-product-card name="Product 2" image="car.png"></app-product-card>
    </div>
    <div fxFlex="20%">
        <app-product-card name="Product 3" image="car.png"></app-product-card>
    </div>
    <div fxFlex="20%">
        <app-product-card name="Product 4" image="car.png"></app-product-card>
    </div>
</div>